:root {
  --header-blue: #3766bf;
}

@font-face {
  font-family: 'tilt-prism';
  src: url('../fonts/TiltPrism.ttf');
}

@font-face {
  font-family: 'game-menu';
  src: url('../fonts/GameMenu.ttf');
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

#root {
  position: relative;
  min-height: 100vh;
}

.homePage {
  min-height: 100vh;
  background-image: url('../imgs/homeBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage h1 {
  color: white;
  font-size: 6.5rem;
  font-family: 'tilt-prism';
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  margin-top: 10vh;
}

.menuLinks {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 5vh;
}

.menuLinks a {
  position: relative;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  text-align: center;
  padding: 10px 30px;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.15);
}

.menuLinks a:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.9);
  scale: 1.2;
  background-color: white;
  color: black;
  text-shadow: none;
}

.menuLinks a:hover::after,
.menuLinks a:hover::before {
  position: absolute;
  content: '';
  top: 20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
}

.menuLinks a:hover::before {
  left: -40px;
  border-left: 20px solid white; 
}

.menuLinks a:hover::after {
  right: -40px;
  border-right: 20px solid white; 
}

.menuLinks li {
  font-family: 'game-menu';
  font-size: 3rem;
  font-weight: 300;
}

.mainGame {
  position: relative;
  min-height: 100vh;
}

.gameHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;
  top: 0;
  position: sticky;
  background-color: var(--header-blue);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 50;
}

.gameHeader div {
  font-family: 'game-menu';
}

.currentLevel {
  color: white;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.gameTimer {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  width: 310px;
}

.currentTarget {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8) inset;
}

.currentTarget img {
  height: 80px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.targetTooltip {
  position: absolute;
  z-index: 15;
  background-color: white;
  pointer-events: none;
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  top: 0;
  left: 95px;
  width: 110px;
  height: 80px;
  text-align: center;
  font-family: 'game-menu';
  color: black;
  line-height: 35px
}

.targetTooltip::before,
.targetTooltip::after {
  content: "\0020";
  display: block;
  position: absolute;
  top: 15px;
  left: -22px;
  z-index: 12;
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 22px transparent;
  border-left: 0;
  border-right-color: #FFF;
}

.targetTooltip::before {
  top: 15px;
  left: -23px;
  z-index: 11;
  border-right-color: black;
}

.gameHeader a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.gameHeader a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.level {
  min-height: calc(100vh - 95px);
  position: relative;
  cursor: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.levelImgContainer {
  z-index: 1;
  position: relative;
}

.level img {
  max-width: 100vw;
  height: auto;
}

.badGuess {
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  padding: 8px 0;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

.badGuess p {
  font-family: 'game-menu';
  font-size: 2.5rem;
}

#circleCursor {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2);
}